									
body {
	opacity: 1;
		transition: 1s opacity;
}

body.fade-out {
	opacity:0;
	transition:none;
}



.notification {
	background-color: red;
	color: white;
	font-family: "GTPM-regular";
	font-size: 12pt;
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	padding: 5px;
  }
									/*-----------HEADER----------*/

#header {
	display:flex;
	flex-direction:row;
	padding:1.5%;
	/*border-style:solid;*/
	border-color:blue;
}



			#logo {
				width:10%;
				height:10%;
				/*margin-right:100px;*/
			}

			#descriptor {
				width:40%;
				font-family: "GTPM-Regular";
				font-size:1.2vw;
				line-height:1.3;
				margin:0% 0% 0% 10%;
				/*border-style:solid;*/
				
			}

			#nav {
				list-style-type: none;
				margin-left:25%;
				/*border-style:solid;*/
				width:30%;
			}

				#nav li {
					font-family:"GTPM-Bold";
					font-size:1.2vw;
					display:inline-block;
					margin-right:10%;
				}
				#nav a {
					color:black;
				}
				#nav a.active {
					color:red;
				}
				#nav a:hover {
					text-decoration: none;
					color:red;
				}

			#social {
				/*float:right;*/
				width:15%;
				right:10px;
				/*border-style:solid;*/
			}
				
				#instagram {
					margin-right:1%;
					max-width:20%;
				}
				#dribbble {
					width:30%;
					height:30%;
					margin-right:1%;
				}
				#behance {
					width:24%;
				}

			.hamburger {
				display:none;
			}
			.cross {
				display:none;
			}
			.hamburger-menu {
				display:none;
			}



									/*----------LINE BREAK----------*/

#recent {
	display:flex;
	flex-direction:row;
	justify-content: flex-start;
	align-items:center;
	padding-left:35px;
	font-family: "GTPM-Bold";
	/* border-style:solid; */
	position:relative;
	overflow:hidden;
}
#recent a {
	text-decoration:none;
	color:black;
}
#recent h1 {
	font-size:30px;
}

	

/*-----HOME BODY-----*/

#home-body {
	/*border-style:solid;*/
	width:100%;
	margin:30px 0px 0px 0px;
	
}

#home-main {
	/*border-style:solid;*/
	width:95%;
	margin:auto;
	/*font-family: 'Lobster', cursive;*/
	
	display:flex;
	flex-direction:row;
}
#home-description {
	width:40%;
	font-family:"GTPM-Light";
	font-size:2.5vw;
	/*border-style:solid;*/
}
#home-description a {
	text-decoration:none;
}
#home-description a:hover {
	text-decoration:none;
}
#home-description a:visited {
	text-decoration:none;
}
#home-description a:active {
	text-decoration:none;
}
#home-contact {
	font-size:20px;
	/*border-style:solid;*/
	margin-top:100px;
	/*float:right;*/
}
#home-picture {
	width:55%;
	height:55%;
	margin-left:3%;

	-webkit-animation: fadein 2s; 
	
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

button {
	border:none;
	background:transparent;
}
hr.style1 {
	width:98%;
	border-top:4px solid black;
	color:black;
	align-content:left;
	margin:25px 0px 0px 0px;
}



							/*----------WORK WORK WORK WORK WORK----------*/

/*NAVIGATION*/

#work-header {
	color:black;
}
#work-header:hover {
	color:red;
}

/* ----------CONTAINS EVERYTHING!!! ----------*/
#workbody {
	width:100%;
	height:77vh;
	/* margin-top:10px; */
	/* padding:5px 0px 0px 0px; */
	position:relative;
	/* border-style:solid; */
	color:red;
	display:flex;
	flex-direction:row;
	overflow:hidden;
}

		#workbody a {
			text-decoration: none;
		}
/* END EVERYTHING */




/* CONTAINS ALL WORK SUMMARY */
#all-work-page {
	width:100%;
	/* border-style:solid; */
	position:absolute;
	color:blue;
	/* right:0%; */
	transition-duration: 0.5s;
}


#work-nav {
	width:12%;
	margin-top:2%;
	position:absolute;
	
}
#worknavbar {
	list-style-type:none;
	font-family:"GTPM-Bold";
}
		#worknavbar li {
			margin-bottom:3%;
			font-size:15px;
		}
		#worknavbar a {
			color:black;
		}
		#worknavbar a.active {
			color:red;
			text-decoration:none;
		}
		#worknavbar a:hover {
			color:red;
			text-decoration:none;
		}

#work-pages {
	display:flex;
	flex-direction:row;
	width:98vw;
	height:76vh;
	display:absolute;
	/* border-style:solid; */
	color:yellow;
	margin:0% 0% 0% 0%;
	overflow:hidden;
}

			/*----------PROJECT LIST----------*/

			#all-work-list {
				position:relative;
				width:80vw;
				height:75vh;
				padding:3% 0px 0px 3%;
				/* border-style:solid; */
				color:black;
				display:flex;
				flex-direction:row;
				flex-wrap:wrap;
				overflow-y:scroll;
				transition-duration: 0.4s;
				/* visibility:visible; */
				left:18%;
				transition: .5s ease-out;
				
			}

			
					

						.project {
							width:40%;
							height:30vw;
							margin: 0% 7% 0% 0%;
						}
						.project-title-image {
							width:100%;
							height:100%;
							/*border-style:solid;*/
						}
						.project-title-image a {
							text-decoration:none;
						}



						.project-title {
							font-family:"GTPM-Regular";
							font-size: 20px;
							line-height:1;
							color:red;
							text-align: center;
							margin-top:4%;
						}
			

						.project-category {
							font-family:"GTPM-Regular";
							margin-top:-2%;
							font-size:14px;
							text-align:center;
						}


						.project-img {
							width:100%;
							
						}



						.scale-in-center {
							-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
									animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
						}

						@-webkit-keyframes scale-in-center {
							0% {
							-webkit-transform: scale(0);
									transform: scale(0);
							opacity: 1;
							}
							100% {
							-webkit-transform: scale(1);
									transform: scale(1);
							opacity: 1;
							}
						}
						@keyframes scale-in-center {
							0% {
							-webkit-transform: scale(0);
									transform: scale(0);
							opacity: 1;
							}
							100% {
							-webkit-transform: scale(1);
									transform: scale(1);
							opacity: 1;
							}
						}

						.hvr-grow {
							display: inline-block;
							vertical-align: middle;
							-webkit-transform: perspective(1px) translateZ(0);
							transform: perspective(1px) translateZ(0);
							box-shadow: 0 0 1px rgba(0, 0, 0, 0);
							-webkit-transition-duration: 0.3s;
							transition-duration: 0.3s;
							-webkit-transition-property: transform;
							transition-property: transform;
						}
						.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
							-webkit-transform: scale(1.025);
							transform: scale(1.025);
						}

			/*----------ETC PAGE----------*/

			#other_page {
				width:80vw;
				height:75vh;
				margin-left:0%;
				position:absolute;
				/* border-style:solid; */
				transition-duration: 0.4s;
				left:100%;
				visibility:hidden;
				padding:3% 0px 0px 2%;
				color:red;
				display:flex;
				flex-direction:row;
				transition:.5s ease-out;
				overflow-x:scroll;
				flex-wrap:wrap;
			}

			.etc-imggg {
				width:60;
				height:60%;
				margin:15px;
			}

			
			
			
				
				.etc-category {
					border-style:solid;
					width:80vw;
					height:70vh;
					display:flex;
					flex-direction:row;
					position:relative;
					color:black;
					margin:0% 3% 0% 0%;
				}
					.etc-category:hover {
						color:red;
						font-size:25px;
					}
				
				.etc-category-title {
					transform-origin:center;
					-webkit-transform:rotate(270deg);
					position:absolute;
					font-family:"GTPM-Regular";
					font-size:20px;
					line-height:0.5;
					/* color:red; */
				}
					#category-1 {
						margin:18% 0% 0% -18%;
					}
					#category-2 {
						margin:13% 0% 0% -13%;
					}
					#category-3 {
						margin:8% 0% 0% -5%;
					}
				.etc-category-img {
					/* border-style:solid; */
					position:relative;
					color:blue;
					width:100%;
					display:flex;
					flex-direction:column;
					margin:0% 0% 0% 10%;
					padding:2% 2% 2% 2%;
					overflow:scroll;
				}

						.etc-category-img::-webkit-scrollbar {
							display:none;
						}

				.etc-img {
					width:100%;
					height:auto;
					margin:0% 0% 10% 0%;
				}
			

			#sketchbook_page {
				/* width:100px; */
				/* height:100px; */
				margin-left:0%;
				font-family: "GTPM-Regular";
				position:absolute;
				/* border-style:solid; */
				visibility:hidden;
				color:black;
				left:100%;
				transition-duration: 0.5s;
			}




/* ---------- SCROLLBAR ---------- */
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkred;
}


  






							/*-----ABOUT ABOUT ABOUT ABOUT ABOUT-----*/

#about-body {
	/*border-style:solid;*/
	width:100%;
	margin:30px 0px 0px 0px;

}
#about-main {
	/*border-style:solid;*/
	width:60%;
	display:flex;
	flex-direction:row;
	margin:auto;
}
#profile-pic {
	width:50%;
	height:50%;
	-webkit-animation: fadein 2s;
}
#about-blurb {
	/*border-style:solid;*/
	width:50%;
	padding:10px 10px 10px 30px;
	font-family:"GTPM-Light";
	font-size:14px;
	-webkit-animation: fadein 2s;
}
#about-blurb a {
	text-decoration:none;
	color:red;
}

hr.style2 {
	width:22%;
	border-top:4px solid black;
	color:black;
	align-content:left;
	padding:0;
	margin:0px 15px 0px 0px;
}
hr.style3 {
	width:90%;
	border-top:4px solid black;
	color:black;
	align-content:left;
	margin:0px 0px 0px 15px;
}



								/*----------ALL PROJECTS----------*/
								.trans--grow{
									-webkit-transition: width .5s ease-out; /* For Safari 3.1 to 6.0 */
									transition: width .5s  ease-out;
									width : 0%;
								  }
								  .grow{
									width:90%;
								  }
								  .shrink {
									  width:12%;
								  }
								  .shrink2 {
									  width:5%;
								  }
								  .shrink3 {
									  width:8%;
								  }
								.hr1 {
									position:absolute;
									margin:0% 0% 0% 6%;
									border-top:4px solid black;
									align-content:left;
									padding:0;
								}
								.hr2 {
									position:absolute;
									margin: 0% 0% 0% 10%;
									border-top:4px solid black;
									left:100%;
									align-content:left;
									padding:0;
								}
								.shrink4 {
									left:50%;
								}
											#okay-hr {
												width:60vw;
												transition-duration: 0.5s;
												transition-timing-function: ease-out;
											}
											#spot-hr {
												width:80vw;
												transition-duration: 0.4s;
												transition-timing-function: ease-out;
												margin:0% 0% 0% 0%;
											}
											#paws-hr {
												width:80vw;
												transition-duration: 0.4s;
												transition-timing-function: ease-out;
												margin:0% 0% 0% 0%;
											}
											#hack2018-hr {
												width:80vw;
												transition-duration: 0.5s;
												transition-timing-function: ease-out;
												margin:0% 0% 0% 0%;
											}

											#hack2017-hr {
												width:80vw;
												transition-duration: 0.5s;
												transition-timing-function: ease-out;
												margin:0% 0% 0% 0%;
											}

											#pidan-hr {
												width:80vw;
												transition-duration: 0.5s;
												transition-timing-function: ease-out;
												margin:0% 0% 0% 0%;
											}
											#trips-hr {
												width:80vw;
												transition-duration: 0.5s;
												transition-timing-function: ease-out;
												margin:0% 0% 0% 0%;
											}
											#kvsh-hr {
												width:80vw;
												transition-duration: 0.5s;
												transition-timing-function: ease-out;
												margin:0% 0% 0% 0%;
											}

								.page-title {
									position:absolute;
									margin:0% 0% 0% 17%;
									left:100%;
									transition:0.5s ease-out;
								}


.away {
	/* left:100%; */
	opacity:0;
	transition: opacity 0.2s;
}
.return {
	/* left:18%; */
	opacity:1;
	/* transition: opacity 0.2s; */
}

.away-left {
	opacity:0;
	right:100%;
}
.return-left {
	opacity:1;
	right:0%;
}
											


.project-page {
	/* border-style:solid; */
	/* margin:0px 0px 0px 20%; */
	/* padding:30px 0px 0px 0px; */
	width:100%;
	position:absolute;
	color:blue;
	transition-duration: 0.4s;
}
	#okay-project {
		/* left:100%; */
		transition:0.5s;
	}
	#hack2018-project {
		/* left:100%; */
		transition:0.5s;
	}
	#pidan-project {
		transition:0.5s
	}

					/* PROJECT ANIMATIONS */
					.project-away {
						left:100%;
						opacity:0;
					}
					.project-return {
						left:0%;
						opacity:1;
					}

.project-overview {
	width:25%;
	height:200px;
	margin:2% 0% 0% 72%;
	position:absolute;
	font-family:"GTPM-Light";
	font-size:14px;
	color:black;
	/* border-style:solid; */
}
.project-copy {
	font-family:"GTPM-Light";
	font-size: 16px;
	color:black;
	/* border-style:solid; */
	width:60%;
	margin:0% auto 50px auto;
}
					.overview-module {
						position:absolute;
						display:none;
						transition-duration: 0.4s;
					}
								#okayP1 {
									display:block;
								}
								#hack2018P1 {
									display:block;
								}
								#hack2017P1 {
									display:block;
								}
								#spotP1 {
									display:block;
								}
								#pidanP1 {
									display:block;
								}
								#tripsP1 {
									display:block;
								}
								#kvshP1 {
									display:block;
								}
								#ukP1 {
									display:block;
								}
								#stripeP1 {
									display:block;
								}
								#pulangP1 {
									display:block;
								}
								#retroP1 {
									display:block;
								}
								#lameiP1 {
									display:block;
								}
								#eP1 {
									display:block;
								}
			
								
					

.project-body {
	position:absolute;
	
	width:97%;
	height:73vh;
	/* border-style:solid; */
	margin:2% 0% 0% 2%;
	padding:0% 0% 0% 0%;
	overflow-y:scroll;
	overflow-x:hidden;
	
}

/* PROJECTS WITH STATIC BACKGROUND IMAGES */


			#hack2018-body {
				background-image: url("projects/hack2018/background2.png");
				background-repeat: no-repeat;
				background-position: 95% 100%;
				background-size: 20%;
			}
			#hack2017-body {
				background-image: url("projects/hack2017/images/logo.jpg");
				background-repeat: no-repeat;
				background-position: 95% 100%;
				background-size: 10%;
			}

			#pidan-body {
				background-image: url("projects/pidan/background.png");
				background-repeat: no-repeat;
				background-position: 95% 100%;
				background-size: 10%;
			}

#retro-vimeo {
	font-family:"GTPM-Light";
	font-size:14px;
}


.project-body-style2 {
	position:absolute;
	width:97%;
	height:73vh;
	/* border-style:solid; */
	margin:2% 0% 0% 2%;
	padding:0% 5% 0% 0%;
	overflow-y:scroll;
	
}
.project-body-style3 {
	position:absolute;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	width:97%;
	height:73vh;
	/* border-style:solid; */
	margin:2% 0% 0% 2%;
	padding:0% 35% 0% 0%;
	overflow-y:scroll;
	
}

.project-mobile {
	position:absolute;
	display:flex;
	flex-direction:column;
	width:97%;
	height:80vh;
	/* border-style:solid; */
	margin:2% 0% 0% 2%;
	padding:0% 0% 0% 0%;
	overflow-y:scroll;
	overflow-x:hidden;
	
}
			.fullBleedImg {
				display:block;
				width:60%;
				height:auto;
				margin:0% 20% 5% 20%;
				padding:0% 0% 0% 0%;
			}
			.wideBleedImg {
				display:block;
				width:70%;
				height:auto;
				margin:0% auto 5% auto;
				padding:0% 0% 0% 0%;
			}
			.halfBleedImg {
				display:block;
				width:40%;
				height:auto;
				margin:0% auto 5% auto;
				padding:0;
			}
			.tileImg {
				/* display:block; */
				max-width:47%;
				max-height:100%;
				/* margin-left:auto; */
				margin-right:2%;
				margin-bottom:5%;
			}
			.tiled-set {
				width:100%;
				height:100%;
				display:flex;
				flex-direction:row;
				/* border-style:solid; */
				margin:0% 0% 5% 0%;
			}
			.mobile-img {
				display:block;
				width:96%;
				height:auto;
				/* border-style:solid; */
				margin:0% 0% 6% 0%;
			}
			.mobile-img2 {
				width:45%;
				height:auto;
				/* border-style:solid; */
				margin:0% 3% 6% 0%;
			}
			.shadow {
				box-shadow:2px 2px 10px 5px #c4c4c4;
				/* margin-left:2%; */
			}
			.shadow2 {
				box-shadow:2px 2px 30px #c4c4c4;
				/* margin-left:2%; */
			}



			.mobile-description {
				width:90%;
				margin:0% auto 5% auto;
				font-family:"GTPM-Light";
				font-size:14px;
				color:black;

			}

.project-module {
	display:flex;
	flex-direction:row;
	margin:0px 0px 50px 0px;
	padding-top:20px;
	flex-wrap:wrap;
}
.project-module p {
	font-family:"GTPM-Light";
	font-size:14px;
	padding:0px 20px 0px 20px;
	width:40%;

}

.project-module a {
	text-decoration:none;
	color:red;
}

iframe {
	margin:0% 0% 5% 0%;
	padding:0;
	width:100%;
	height:auto;
}



.footer {
	/*border-style:solid;*/
	display:flex;
	flex-direction:row;
	font-family:"GTPM-Regular";
	margin:20px 0px 50px 0px;
	justify-content:space-between;
}
hr.footerstyle {
		width:100%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		margin:25px 0px 0px 0px;
	}

.footer-project {
	/*margin-left:25%;*/
}
.footer-description {
	/*margin-left:10%;*/
	font-family:"GTPM-RegularItalic";
}






								/*----------RESPONSIVE----------*/

/*MOBILE*/


@media only screen and (min-device-width:375px) and (max-device-width:736px) {


	#header {
	display:flex;
	flex-direction:row;
	padding:20px;
	/* margin-bottom:10%; */
	/*border-style:solid;*/
	border-color:blue;
	background-color:white;
}



			#logo {
				width:20%;
				height:20%;
				/*margin-right:100px;*/
			}

			#descriptor {
				width:50%;
				font-family: "GTPM-Regular";
				font-size:14px;
				line-height:1.3;
				margin:0% 0% 0% 8%;
				/*border-style:solid;*/
				
			}

			#nav {
				display:none;
			}

			#social {
				display:none;
			}

			/*HAMBURGER MENU*/
				
			.hamburger {
				display:block;
				position:absolute;
				top:15px;
				right:15px;
				font-size:30px;
				color: black;
			}
			.cross {
				background:none;
				/*padding:none;*/
				position:absolute;
				top:0px;
				right:0;
				padding:15px 30px 0px 0px;
				color: black;
				font-size:50px;
				line-height:65px;
				z-index:101;
				border:none;
			}
			.hamburger-menu {
				z-index:99;
				font-family: "GTPM-Regular";
				font-size:14px;
				width:90%;
				background: white;
				position:absolute;
				text-align:center;
				border-style:solid;
				border-width:1.5px;
				border-radius:5px;
				/*margin-top:30px;*/
			}
			.hamburger-menu ul {
				margin:0;
				padding:0;
				list-style-type:none;
				list-style-image:none;
			}
			.hamburger-menu li {
				display:block;
				padding:15px 0 15px 0;
				/*border-bottom:black 1px solid;*/
			}
			
			.hamburger-menu a {
				text-decoration:none; 
				color: black;
			}
			.hamburger-menu a.active {
				text-decoration: none;
				color: red;
			}

/*-----HOME PAGE MOBILE-----*/

#home-body {
	/*border-style:solid;*/
	width:100%;
	margin:30px 0px 0px 0px;
	
}

#home-main {
	/*border-style:solid;*/
	width:95%;
	margin:auto;
	/*font-family: 'Lobster', cursive;*/
	
	display:block;
}
#home-description {
	width:100%;
	font-family:"GTPM-Light";
	font-size:22px;
	/*border-style:solid;*/
}

#home-contact {
	display:none;
}
#home-picture {
	width:100%;
	height:100%;
	margin:20px 0px 0px 0px;
	
}


/*-----ABOUT MOBILE-----*/
#about-body {
	/*border-style:solid;*/
	width:100%;
	margin:30px 0px 0px 0px;

}
#about-main {
	/*border-style:solid;*/
	width:100%;
	display:block;
	margin:auto;
}
#profile-pic {
	width:100%;
	height:100%;
}
#about-blurb {
	/*border-style:solid;*/
	width:100%;
	padding:20px 20px 10px 20px;
	font-family:"GTPM-Light";
	font-size:16px;
}


/*----------WORK PAGE MOBILE----------*/
#recent {
	display:flex;
	flex-direction:row;
	justify-content: flex-start;
	align-items:center;
	padding-left:20px;
	margin:15px 0px 15px 0px;
	font-family: "GTPM-Bold";
	font-size:10px;
	/*border-style:solid;*/
	background-color:white;

}
	#recent h1 {
		font-size:20px;
	}

	hr.style1 {
		width:95%;
		border-top:3px solid black;
		color:black;
		align-content:left;
	}

	.hr1 {
		position:absolute;
		margin:0% 0% 0% 15%;
		border-top:4px solid black;
		align-content:left;
		padding:0;
	}
	
/* BODY */
#workbody {
	width:100%;
	height:80vh;
	position:relative;
	/* border-style:solid; */
	color:red;
	display:flex;
	flex-direction:row;
	overflow:hidden;
}
#work-nav {
	display:none;
}
#worknavbar {
	display:none;
}

#all-work-page {
	width:100%;
	/* border-style:solid; */
	position:absolute;
	color:blue;
	transition-duration: 0.5s;
}

#work-pages {
	display:flex;
	flex-direction:row;
	width:98vw;
	height:85vh;
	display:absolute;
	/* border-style:solid; */
	color:yellow;
	margin:0% 0% 0% 0%;
	overflow:hidden;
}

#all-work-list {
	position:relative;
	width:90vw;
	height:80vh;
	padding:3% 0px 0px 3%;
	/* border-style:solid; */
	color:black;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	overflow-y:scroll;
	transition-duration: 0.4s;
	/* visibility:visible; */
	left:5%;
	transition: .5s ease-out;
	
}


/*PROJECT LIST MOBILE*/

.project {
	width:100%;
	/*border-style:solid;*/
	display:block;
	margin-bottom:50%;
}
.project-title-image {
	width:100%;
	height:auto;
}
.project-title {
	font-family:"GTPM-Regular";
	font-size:16px;
	line-height:0.5;
	margin-bottom:5px;
	margin-top:15px;
}

.project-category {
	font-family:"GTPM-Regular";
	margin-top:0%;
	font-size:12px;
	text-align:center;
}
	
.project-img {
	width:100%;
	height:auto;
	
}

/*----------ALL PROJECTS MOBILE----------*/

.page-title {
	position:absolute;
	margin:0% 0% 0% 28%;
	left:100%;
	transition:0.5s ease-out;
}

.project-page {
	/* border-style:solid; */
	width:100%;
	margin:0px 0px 20px 0px;
	padding:0;
}

.project-overview {
	width:95%;
	height:200px;
	margin:2% 10% 0% 0%;
	padding:0% 10% 0% 5%;
	position:absolute;
	font-family:"GTPM-Light";
	font-size:14px;
	color:black;
	/* border-style:solid; */
	z-index:2;
}
.project-body {
	position:absolute;
	width:97%;
	height:73vh;
	/* border-style:solid; */
	margin:30% 7% 0% 2%;
	padding:0% 3% 0% 0%;
	overflow-y:scroll;
	overflow-x:hidden;
	z-index:0;
	
}

.footer {
	/*border-style:solid;*/
	display:block;
	font-family:"GTPM-Regular";
	font-size:12px;
	margin:20px 0px 50px 0px;
	padding:0px 20px 0px 20px;
	text-align:center;
}
hr.footerstyle {
		width:95%;
		border-top:3px solid black;
		color:black;
		align-content:left;
		margin:25px auto 0px auto;
}
.footer-project {
	margin-left:0%;
}
.footer-description {
	margin-left:0%;
}








}

/*TABLET*/
@media only screen and (min-width: 700px) and (max-width: 960px) {

	#header {
		display:flex;
		flex-direction:row;
		padding:20px;
		
		margin-bottom:3%;
		/*border-style:solid;*/
		border-color:blue;
		background-color:white;
	}

	#descriptor {
		width:60%;
		font-family: "GTPM-Regular";
		font-size:16px;
		line-height:1.3;
		margin:0% 0% 0% 10%;
		/* border-style:solid; */
		
	}
	#nav {
		list-style-type: none;
		margin:0%;
		/* border-style:solid; */
		width:40%;
	}
	#nav li {
		font-family:"GTPM-Bold";
		font-size:1.8vw;
		display:inline-block;
		margin-right:10%;
	}
	#social {
		/*float:right;*/
		width:15%;
		right:10px;
		/* border-style:solid; */
	}

	/* HOME TABLET */

	#home-body {
		/* border-style:solid; */
		width:100%;
		margin:30px 0px 0px 0px;
		
	}
	
	#home-main {
		/*border-style:solid;*/
		width:95%;
		margin:auto;
		/*font-family: 'Lobster', cursive;*/
		
		display:block;
	}
	#home-description {
		width:100%;
		font-family:"GTPM-Light";
		font-size:22px;
		/*border-style:solid;*/
	}
	
	#home-contact {
		display:none;
	}
	#home-picture {
		width:100%;
		height:100%;
		margin:20px 0px 0px 0px;
		
	}

	#workbody {
		width:100%;
		height:85vh;
		/* margin-top:10px; */
		/* padding:5px 0px 0px 0px; */
		position:relative;
		/* border-style:solid; */
		color:red;
		display:flex;
		flex-direction:row;
		overflow:hidden;
	}
	.project-body {
	position:absolute;
	
	width:97%;
	height:73vh;
	/* border-style:solid; */
	margin:2% 0% 0% 2%;
	padding:0% 0% 0% 0%;
	overflow-y:scroll;
	overflow-x:hidden;
	
}

	#all-work-page {
		width:100%;
		height:80vw;
		/* border-style:solid; */
		position:absolute;
		color:blue;
		/* right:0%; */
		transition-duration: 0.5s;
	}

	#work-pages {
		display:flex;
		flex-direction:row;
		width:98vw;
		height:100vh;
		display:absolute;
		/* border-style:solid; */
		color:yellow;
		margin:0% 0% 0% 0%;
		overflow:hidden;
	}

/* ILLUSTRATION PAGE */

	#other_page {
		width:80vw;
		height:75vh;
		margin-left:0%;
		position:absolute;
		/* border-style:solid; */
		transition-duration: 0.4s;
		left:100%;
		visibility:hidden;
		padding:3% 0px 0px 2%;
		color:red;
		display:flex;
		flex-direction:row;
		transition:.5s ease-out;
		overflow-x:scroll;
		flex-wrap:wrap;
	}

	.etc-imggg {
		width:35;
		height:35%;
		margin:15px;
	}

	/* ALL WORK PAGE */

	#all-work-list {
		position:relative;
		width:80vw;
		float:right;
		height:85vh;
		padding:3% 0px 0px 3%;
		/* border-style:solid; */
		color:black;
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		overflow-y:scroll;
		transition-duration: 0.4s;
		/* visibility:visible; */
		/* left:18%; */
		transition: .5s ease-out;
		
		}
		.project {
			width:43%;
			height:35vw;
			margin: 0% 7% 0% 0%;
			/* border-style:solid; */
			padding-bottom:20%;
		}
		.project-title {
			font-family:"GTPM-Regular";
			font-size: 18px;
			line-height:1;
			color:red;
			text-align: center;
			margin-top:8%;
		}
		.project-category {
			font-family:"GTPM-Regular";
			margin-top:-4%;
			font-size:14px;
			text-align:center;
		}

		/* OTHER PAGE */
		#other_page {
			width:80vw;
			height:83vh;
			margin-left:0%;
			position:absolute;
			/* border-style:solid; */
			transition-duration: 0.4s;
			left:100%;
			visibility:hidden;
			padding:3% 0px 0px 3%;
			color:red;
			display:flex;
			flex-direction:row;
			transition:.5s ease-out;
		}
		.etc-category {
			/* border-style:solid; */
			width:80vw;
			height:80vh;
			display:flex;
			flex-direction:row;
			position:relative;
			color:black;
			margin:0% 3% 0% 0%;
		}
		.etc-category-title {
			transform-origin:center;
			-webkit-transform:rotate(270deg);
			position:absolute;
			font-family:"GTPM-Regular";
			font-size:20px;
			line-height:0.5;
			/* color:red; */
		}
			#category-1 {
				margin:40% 0% 0% -30%;
			}
			#category-2 {
				margin:30% 0% 0% -20%;
			}
			#category-3 {
				margin:18% 0% 0% -10%;
			}
			.etc-category-img {
				/* border-style:solid; */
				position:relative;
				color:blue;
				width:100%;
				display:flex;
				flex-direction:column;
				margin:0% 0% 0% 14%;
				padding:2% 2% 2% 2%;
				overflow:scroll;
			}

			/* WORK BODY */
			.hr1 {
				position:absolute;
				margin:0% 0% 0% 10%;
				border-top:4px solid black;
				align-content:left;
				padding:0;
			}

			
			.project-body {
				position:absolute;
				
				width:97%;
				height:80vh;
				/* border-style:solid; */
				margin:2% 0% 0% 2%;
				padding:0% 0% 0% 0%;
				overflow-y:scroll;
				overflow-x:hidden;
				
			}

			.project-copy {
				font-family:"GTPM-Light";
				font-size: 16px;
				color:black;
				/* border-style:solid; */
				width:60%;
				margin:0% auto 50px auto;
			}
			.project-overview {
				width:25%;
				height:200px;
				margin:2% 0% 0% 72%;
				position:absolute;
				font-family:"GTPM-Light";
				font-size:12px;
				color:black;
				/* border-style:solid; */
			}


}
/* END TABLET */






										/*----------LARGE DESKTOP----------*/


@media only screen and (min-width : 1919px) {

}






/*-----FONTS-----*/

@font-face {
	font-family: "GTPM-Regular";
	src: url("fonts/GTPressuraMono-Regular.woff") format("woff");
}
@font-face {
	font-family: "GTPM-RegularItalic";
	src: url("fonts/GTPressuraMono-RegularItalic.woff") format("woff");
}
@font-face {
	font-family: "GTPM-Light";
	src: url("fonts/GTPressuraMono-Light.woff") format("woff");
}
@font-face {
	font-family: "GTPM-LightItalic";
	src: url("fonts/GTPressuraMono-LightItalic.woff") format("woff");
}
@font-face {
	font-family: "GTPM-Bold";
	src: url("fonts/GTPressuraMono-Bold.woff") format("woff");
}
@font-face {
	font-family: "GTPM-BoldItalic";
	src:url("fonts/GTPressuraMono-BoldItalic.woff") format("woff");
}





