									
body {
	opacity: 1;
		transition: 1s opacity;
}

body.fade-out {
	opacity:0;
	transition:none;
}
									/*-----------HEADER----------*/

#header {
	display:flex;
	flex-direction:row;
	padding:1.5%;
	/*border-style:solid;*/
	border-color:blue;
}



			#logo {
				width:10%;
				height:10%;
				/*margin-right:100px;*/
			}

			#descriptor {
				width:40%;
				font-family: "GTPM-Regular";
				font-size:1.2vw;
				line-height:1.3;
				margin:0% 0% 0% 10%;
				/*border-style:solid;*/
				
			}

			#nav {
				list-style-type: none;
				margin-left:25%;
				/*border-style:solid;*/
				width:30%;
			}

				#nav li {
					font-family:"GTPM-Bold";
					font-size:1.2vw;
					display:inline-block;
					margin-right:10%;
				}
				#nav a {
					color:black;
				}
				#nav a.active {
					color:red;
				}
				#nav a:hover {
					text-decoration: none;
					color:red;
				}

			#social {
				/*float:right;*/
				width:15%;
				right:10px;
				/*border-style:solid;*/
			}
				
				#instagram {
					margin-right:1%;
					max-width:20%;
				}
				#dribbble {
					width:30%;
					height:30%;
					margin-right:1%;
				}
				#behance {
					width:24%;
				}

			.hamburger {
				display:none;
			}
			.cross {
				display:none;
			}
			.hamburger-menu {
				display:none;
			}



									/*----------LINE BREAK----------*/

#recent {
	display:flex;
	flex-direction:row;
	justify-content: flex-start;
	align-items:center;
	padding-left:35px;
	font-family: "GTPM-Bold";
	/*border-style:solid;*/
}
#recent a {
	text-decoration:none;
	color:black;
}

	hr.style1 {
		width:98%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		margin:25px 0px 0px 0px;
	}

	hr.style2 {
		width:22%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 15px 0px 0px;
	}
	hr.style3 {
		width:90%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		margin:0px 0px 0px 15px;
	}
	hr.style4 {
		width:10%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		margin:0px 15px 0px 15px;
	}
	hr.style5 {
		width:57%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		margin:0px 0px 0px 15px;
	}
	hr.style6 {
		width:18%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 20px 0px 0px;
	}
	hr.retro-line {
		width:51%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 15px;
	}
	hr.nyt-line {
		width:45%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 20px;
	}
	hr.lamei-line {
		width:55%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 20px;
	}
	hr.paik-line {
		width:50%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 15px;
	}
	hr.sentiment-line {
		width:64%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 15px;
	}
	hr.moon-line {
		width:55%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 15px;
	}
	hr.stamps-line {
		width:69%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 15px;
	}
	hr.spot-line {
		width:52%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 15px;
	}
	hr.paws-line {
		width:45%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 15px;
	}
	hr.kvsh-line {
		width:56%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 15px;
	}
	hr.okay-line {
		width:58%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 15px;
	}

/*-----HOME BODY-----*/

#home-body {
	/*border-style:solid;*/
	width:100%;
	margin:30px 0px 0px 0px;
	
}

#home-main {
	/*border-style:solid;*/
	width:95%;
	margin:auto;
	/*font-family: 'Lobster', cursive;*/
	
	display:flex;
	flex-direction:row;
}
#home-description {
	width:40%;
	font-family:"GTPM-Light";
	font-size:2.5vw;
	/*border-style:solid;*/
}
#home-description a {
	text-decoration:none;
}
#home-description a:hover {
	text-decoration:none;
}
#home-description a:visited {
	text-decoration:none;
}
#home-description a:active {
	text-decoration:none;
}
#home-contact {
	font-size:20px;
	/*border-style:solid;*/
	margin-top:100px;
	/*float:right;*/
}
#home-picture {
	width:60%;
	height:60%;
	margin-left:3%;

	-webkit-animation: fadein 2s; 
	
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

button {
	border:none;
	background:transparent;
}



							/*----------WORK WORK WORK WORK WORK----------*/

/*NAVIGATION*/

#workbody {
	width:100%;
	margin-top:60px;
	/*border-style:solid;*/
	display:flex;
	flex-direction:row;
}
#work-nav {
	width:12%;
	height:10%;
	/*border-style:solid;*/
	/*margin-left:18.5%;*/
	/*margin-right:2%;*/
}
#worknavbar {
	list-style-type:none;
	font-family:"GTPM-Bold";
}
		#worknavbar li {
			margin-bottom:2%;
			font-size:1vw;
		}
		#worknavbar a {
			color:black;
		}
		#worknavbar a.active {
			color:red;
			text-decoration:none;
		}
		#worknavbar a:hover {
			color:red;
			text-decoration:none;
		}

.design {
	display:block;
}


#all-work-list {
	width:60%;
	margin-left:10%;
	/*border-style:solid;*/
}

/*PROJECT LIST*/

.project {
	width:100%;
	/*border-style:solid;*/
	display:flex;
	flex-direction:row;
	margin-bottom:8%;
}
.project-title-image {
	width:70%;
	height:100%;
	/*border-style:solid;*/
}
.project-title-image a {
	text-decoration:none;
}
.project-title {
	font-family:"GTPM-Regular";
	font-size:1.8vw;
	line-height:0.5;
	color:red;
}
.project-details {
	width:30%;
	height:100%;
	/*border-style:solid;*/
}
.project-description {
	margin-top:10%;
	font-family:"GTPM-Regular";
	/*font-size:14px;*/
	/*border-style:solid;*/
	font-size:1vw;
	padding-left:15px;
}

.project-category {
	font-family:"GTPM-LightItalic";
	margin-top:50px;
	font-size:1vw;
	padding-left:15px;
}
.project-date {
	height:40px;
	width:330px;
	/*border-style:solid;*/
	/*margin:190px -135px 0px -135px;*/
	margin:0% -18% 0% -22%;
	/*bottom:25%;*/
	-webkit-transform:rotate(270deg);
	font-family:"GTPM-Regular";
	font-size:20px;
	color:red;
}
		#bbc-date {
			margin-top:25%;
		}
		#retro-date {
			margin-top:26%;
		}
		#poles-date {
			margin-top:26%;
		}
		#nyt-date {
			margin-top:33%;
		}
		#lamei-date {
			margin-top:27%;
		}
		#paik-date {
			margin-top:27%;
		}
		#hack2017-date {
			margin-top:33%;
		}
		#sentiment-date {
			margin-top:36%;
		}
		#moon-date {
			margin-top:28%;
		}
		#stamps-date {
			margin-top:30%;
		}
		#paws-date {
			margin-top:29%;
		}
		#okay-date {
			margin-top:28%;
		}

.project-img {
	width:100%;
	height:auto;
}

.modal {
	display:none;
	position:fixed;
	z-index:1;
	left:0;
	top:0;
	width:100%;
	height:100%
	overflow:scroll;
	background-color:blue;
	background-color:black;
}
.modal-content {
	background-color:white;
	margin:15% auto;
	padding:20px;
	border:1px solid #888;
	width:80%;
}
.close {
	color: #aaa;
	float:right;
	font-size:28px;
	font-weight:bold;
}
.close:hover,
.close:focus {
	color:black;
	text-decoration:none;
	cursor:pointer;
}




							/*-----ABOUT ABOUT ABOUT ABOUT ABOUT-----*/

#about-body {
	/*border-style:solid;*/
	width:100%;
	margin:30px 0px 0px 0px;

}
#about-main {
	/*border-style:solid;*/
	width:60%;
	display:flex;
	flex-direction:row;
	margin:auto;
}
#profile-pic {
	width:50%;
	height:50%;
	-webkit-animation: fadein 2s;
}
#about-blurb {
	/*border-style:solid;*/
	width:50%;
	padding:10px 10px 10px 30px;
	font-family:"GTPM-Light";
	font-size:16px;
	-webkit-animation: fadein 2s;
}
#about-blurb a {
	text-decoration:none;
	color:red;
}



								/*----------ALL PROJECTS----------*/

.project-page {
	/*border-style:solid;*/
	width:70%;
	margin:0px 0px 0px 20%;
	padding:30px 0px 0px 0px;

}
.project-module {
	display:flex;
	flex-direction:row;
	margin:0px 0px 50px 0px;
	padding-top:20px;
	flex-wrap:wrap;
}
.project-module p {
	font-family:"GTPM-Light";
	font-size:14px;
	padding:0px 20px 0px 20px;
	width:40%;

}

.project-module a {
	text-decoration:none;
	color:red;
}

.fullBleedImg {
	width:100%;
	height:100%;
}
.halfPageImg {
	width:60%;
	height:60%;
}

.footer {
	/*border-style:solid;*/
	display:flex;
	flex-direction:row;
	font-family:"GTPM-Regular";
	margin:20px 0px 50px 0px;
	justify-content:space-between;
}
hr.footerstyle {
		width:100%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		margin:25px 0px 0px 0px;
	}

.footer-project {
	/*margin-left:25%;*/
}
.footer-description {
	/*margin-left:10%;*/
	font-family:"GTPM-RegularItalic";
}



/*-----BBC-----*/



#ss-life {
	/*border-style:solid;*/
	width:60%;
	height:60%;
}
.carousel-item active {
	width:100%;
	height:20%;
}
.giftguide {
	width:100%;
	height:100%;
}
.recycling {
	width:100%;
	height:100%;
}
#carouselExampleControls {
	width:60%;
}
#recycling-carousel {
	width:60%;
}
.portrait {
	width:52%;
	height:52%;
	margin:auto;
}
#sticker {
	width:79%;
	height:79%;
	margin:auto;
}

.ss {
	width:40%;
	height:40%;
	margin:0px 20px 30px 0px;
}
#invitation {
	width:60%;
	height:60%;
}

/*-----RETRO RENAISSANCE-----*/


#strange {
	float:right;
}

#videoDescription {
	margin-top:30px;
}
#zineDetailCarousel {
	width:60%;
}


/*-----BETWEEN TWO POLES-----*/

#StickerCarousel {
	width:60%;
}
#sticker1 {
	max-width:45%;
	margin:auto;
}
#sticker3 {
	width:57%;
	margin:auto;
}
#sticker4 {
	width:74%;
	margin:auto;
}
#sticker5 {
	width:61%;
	margin:auto;
}
#sticker6 {
	width:61%;
	margin:auto;
}
#sticker7 {
	width:58.5%;
	margin:auto;
}
#sticker8 {
	width:44.5%;
	margin:auto;
}
#info1 {
	width:29%;
	height:29%;
	border-style:solid;
	margin-right:10px;
}
#info2 {
	width:29%;
	height:29%;
	border-style:solid;
}
#MockupCarousel {
	width:60%;
}
#InstallCarousel {
	width:100%;
}
#doc1 {
	width:29%;
	height:29%;
	margin-right:10px;
}
#doc2 {
	width:29%;
	height:29%;
}
.doc {
	width:30%;
	height:30%;
	margin-right:10px;
}

/*-----NEW YORK TIMES-----*/

#nytCarousel {
	width:60%;
}
#nyt1 {
	border-style:solid;
}
#nyt2 {
	border-style:solid;
}


/*-----LA MEI HOT POT-----*/

#menuCarousel {
	width:50%;
}
#lameiDescription {
	margin-left:10%;
}
#menu1 {
	width:79.5%;
	height:79.5%;
	margin:auto;
}
#menu3 {
	width:90%;
	height:90%;
	margin:auto;
}
.drinks {
	width:50%;
	height:50%;
	padding:0px 10px 10px 0px;
}

/*-----PAIK NAM JUNE-----*/

.paikposters {
	width:23%;
	height:23%;
	margin:0px 10px 10px 0px;
	border-style:solid;
	border-width:1px;
}

/*-----HACK2017-----*/

.banners2017 {
	width:100%;
	height:100%;
	margin-bottom:20px;
}
#hacklogo2017 {
	width:15%;
	height:15%;
	margin-right:5%;
}

/*-----SENTIMENT-----*/

.sentiment {
	width:47%;
	height:47%;
	margin:0px 20px 20px 0px;
}


/*-----GOODNIGHT MOON-----*/

#moonCarousel {
	width:100%;

}

/*-----STAMPS-----*/

.stamps {
	width:30%;
	height:30%;
	margin:0px 20px 20px 0px;
}

/*-----SPOT CASE STUDY-----*/
#fullBleedModule {
	width:100%;
}
#sketchCarousel {
	width:60%;
	height:60%;
	margin:auto;
}
.spot-branding {
	width:60%;
	height:60%;
	margin:auto;
}
.project-page h2 {
	font-family: "GTPM-Bold";
	font-size:32px;
	margin:auto;
}
.spot-process {
	width:80%;
	height:80%;
	margin:auto;
}

/*-----PAWS-----*/ 

#care4animalsCarousel {
	width:60%;
}
#wireframeCarousel {
	width:60%;
	border-style:solid;
	border-width:1px;
}
#adopt-hifi {
	width:80%;
	height:80%;
	border-style:solid;
	border-width:1px;
}

/*-----KVSH-----*/

#kvshSketchCarousel {
	width:40%;
}
.hideas {
	width:33%;
	height:33%;
	padding:0px 10px 10px 0px;
	/*border-style: solid;*/
}
.hideas-big {
	width:50%;
	height:50%;
	padding:0px 10px 10px 0px;
	/*border-style: solid;*/
}
#hideas-description {
	margin-top:50px;
}

.final-kvsh {
	width:48%;
	height:48%;
	padding:0px 15px 15px 0px;
}















								/*----------RESPONSIVE----------*/

/*MOBILE*/


@media only screen and (min-device-width:375px) and (max-device-width:736px) {


	#header {
	display:flex;
	flex-direction:row;
	padding:20px;
	/*border-style:solid;*/
	border-color:blue;
	background-color:white;
}



			#logo {
				width:20%;
				height:20%;
				/*margin-right:100px;*/
			}

			#descriptor {
				width:50%;
				font-family: "GTPM-Regular";
				font-size:14px;
				line-height:1.3;
				margin:0% 0% 0% 8%;
				/*border-style:solid;*/
				
			}

			#nav {
				display:none;
			}

			#social {
				display:none;
			}

			/*HAMBURGER MENU*/
				
			.hamburger {
				display:block;
				position:absolute;
				top:15px;
				right:15px;
				font-size:30px;
				color: black;
			}
			.cross {
				background:none;
				/*padding:none;*/
				position:absolute;
				top:0px;
				right:0;
				padding:15px 30px 0px 0px;
				color: black;
				font-size:50px;
				line-height:65px;
				z-index:101;
				border:none;
			}
			.hamburger-menu {
				z-index:99;
				font-family: "GTPM-Regular";
				font-size:14px;
				width:90%;
				background: white;
				position:absolute;
				text-align:center;
				border-style:solid;
				border-width:1.5px;
				border-radius:5px;
				/*margin-top:30px;*/
			}
			.hamburger-menu ul {
				margin:0;
				padding:0;
				list-style-type:none;
				list-style-image:none;
			}
			.hamburger-menu li {
				display:block;
				padding:15px 0 15px 0;
				/*border-bottom:black 1px solid;*/
			}
			
			.hamburger-menu a {
				text-decoration:none; 
				color: black;
			}
			.hamburger-menu a.active {
				text-decoration: none;
				color: red;
			}

/*-----HOME PAGE MOBILE-----*/

#home-body {
	/*border-style:solid;*/
	width:100%;
	margin:30px 0px 0px 0px;
	
}

#home-main {
	/*border-style:solid;*/
	width:95%;
	margin:auto;
	/*font-family: 'Lobster', cursive;*/
	
	display:block;
}
#home-description {
	width:100%;
	font-family:"GTPM-Light";
	font-size:22px;
	/*border-style:solid;*/
}

#home-contact {
	display:none;
}
#home-picture {
	width:100%;
	height:100%;
	margin:20px 0px 0px 0px;
	
}


/*-----ABOUT MOBILE-----*/
#about-body {
	/*border-style:solid;*/
	width:100%;
	margin:30px 0px 0px 0px;

}
#about-main {
	/*border-style:solid;*/
	width:100%;
	display:block;
	margin:auto;
}
#profile-pic {
	width:100%;
	height:100%;
}
#about-blurb {
	/*border-style:solid;*/
	width:100%;
	padding:20px 20px 10px 20px;
	font-family:"GTPM-Light";
	font-size:16px;
}


/*----------WORK PAGE MOBILE----------*/
#recent {
	display:flex;
	flex-direction:row;
	justify-content: flex-start;
	align-items:center;
	padding-left:20px;
	margin:15px 0px 15px 0px;
	font-family: "GTPM-Bold";
	font-size:10px;
	/*border-style:solid;*/
	background-color:white;

}
	#recent h1 {
		font-size:20px;
	}

	hr.style1 {
		width:95%;
		border-top:3px solid black;
		color:black;
		align-content:left;
	}

	hr.style2 {
		width:24%;
		border-top:3px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 10px 0px 0px;
	}
	hr.style3 {
		width:80%;
		border-top:3px solid black;
		color:black;
		align-content:left;
		margin:0px 0px 0px 10px;
	}
	

	#workbody {
	width:100%;
	margin:20px 0px 0px 0px;
	/*border-style:solid;*/
	display:block;
	padding:none;
}
#work-nav {
	display:none;
}
#worknavbar {
	display:none;
}

#all-work-list {
	width:80%;
	/*border-style:solid;*/
	margin-left:auto;
	margin-right:auto;
	/*background:blue;*/
}



/*PROJECT LIST MOBILE*/

.project {
	width:100%;
	/*border-style:solid;*/
	display:block;
	margin-bottom:5%;
	/*background:red;*/
}
.project-title-image {
	width:100%;
	height:auto;
	/*border-style:solid;*/
}
.project-title {
	font-family:"GTPM-Regular";
	font-size:16px;
	margin-bottom:10px;
}
.project-details {
	width:100%;
	/*border-style:solid;*/
}
.project-description {
	margin-top:10px;
	font-family:"GTPM-Light";
	font-size:12px;
	padding:0;
	/*border-style:solid;*/
}

.project-category {
	font-family:"GTPM-LightItalic";
	margin-top:10px;
	font-size:10px;
	padding:0;
}
.project-date {
	display:none;
}
		
.project-img {
	width:100%;
	height:auto;
}

/*----------ALL PROJECTS MOBILE----------*/

.project-page {
	/*border-style:solid;*/
	width:100%;
	margin:0px 0px 30px 0px;
	padding:0;
}
.project-module {
	display:block;
	margin:0;
	flex-wrap:wrap;
}
.project-module p {

	font-family:"GTPM-Light";
	font-size:12px;
	padding:20px 20px 0px 20px;
	width:100%;

}

.footer {
	/*border-style:solid;*/
	display:block;
	font-family:"GTPM-Regular";
	font-size:12px;
	margin:20px 0px 50px 0px;
	padding:0px 20px 0px 20px;
	text-align:center;
}
hr.footerstyle {
		width:95%;
		border-top:3px solid black;
		color:black;
		align-content:left;
		margin:25px auto 0px auto;
}
.footer-project {
	margin-left:0%;
}
.footer-description {
	margin-left:0%;
}


/*BBC*/
hr.style6 {
		display:none;
	}
hr.style4 {
		width:10%;
		border-top:3px solid black;
		color:black;
		align-content:left;
		margin:0px 8px 0px 8px;
	}
hr.style5 {
		width:25%;
		border-top:3px solid black;
		color:black;
		align-content:left;
		margin:0px 0px 0px 8px;
	}



/*BBC MOBILE*/

#ss-life {
	/*border-style:solid;*/
	width:100%;
	height:auto;
	margin:0px 0px 0px 0px;
}
.carousel-item active {
	width:100%;
	height:20%;
}
.giftguide {
	width:100%;
	height:100%;
}
.recycling {
	width:100%;
	height:100%;
}
#carouselExampleControls {
	width:100%;
}
#recycling-carousel {
	width:100%;
}
.portrait {
	width:52%;
	height:52%;
	margin:auto;
}
#sticker {
	width:79%;
	height:79%;
	margin:auto;
}

.ss {
	width:100%;
	height:100%;
	margin:0px 0px 20px 0px;
}
#invitation {
	width:100%;
	height:100%;
}




/*RETRO MOBILE*/

hr.retro-line {
		width:12%;
		border-top:3px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 8px;
	}
.halfPageImg {
	width:100%;
	height:100%;
}
#zineDetailCarousel {
	width:100%;
}
iframe {
	width:100%;
}
#retroFooterLine {
	margin-left:10px;
}

/*BETWEEN TWO POLES MOBILE*/

#StickerCarousel {
	width:100%;
}
#info1 {
	width:48%;
	height:48%;
	border-style:solid;
	border-width:1px;
	margin-right:5px;
}
#info2 {
	width:48%;
	height:48%;
	border-style:solid;
	border-width:1px;
}
#MockupCarousel {
	width:100%;
}
#doc1 {
	width:48%;
	height:48%;
	margin-right:5px;
}
#doc2 {
	width:48%;
	height:48%;
}
.doc {
	width:100%;
	height:100%;
	margin:0px 0px 20px 0px;
}

/*NYT MOBILE*/

hr.nyt-line {
		display:none;
		/*width:20%;
		border-top:3px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 20px;*/
	}

#nytCarousel {
	width:100%;
}
#nyt1 {
	border-style:solid;
	border-width:1px;
}
#nyt2 {
	border-style:solid;
	border-width:1px;
}



/*LAMEI MOBILE*/

hr.lamei-line {
		width:23%;
		border-top:3px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 8px;
}
#menuCarousel {
	width:100%;
}
#lameiDescription {
	margin-left:0;
}
#menu1 {
	width:79.5%;
	height:79.5%;
	margin:auto;
}
#menu3 {
	width:90%;
	height:90%;
	margin:auto;
}
.drinks {
	width:49%;
	height:49%;
	padding:0px 10px 10px 0px;
}


/*PAIK NAM JUNE MOBILE*/

hr.paik-line {
		width:10%;
		border-top:3px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 8px;
	}
.paikposters {
	width:48%;
	height:48%;
	margin:0px 5px 5px 0px;
	border-style:solid;
	border-width:1px;
}

/*SENTIMENT MOBILE*/
.sentiment {
	width:45%;
	height:45%;
	margin:0px 10px 10px 0px;
}
hr.sentiment-line {
		width:38%;
		border-top:3px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 8px;
	}


/*GOODNIGHT MOON MOBILE*/

hr.moon-line {
		width:20%;
		border-top:3px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 8px;
	}

/*STAMPS MOBILE*/

hr.stamps-line {
		width:46%;
		border-top:3px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 8px;
	}
.stamps {
	width:46%;
	height:46%;
	margin:0px 10px 10px 0px;
}






}

/*TABLET*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

	#all-work-list {
	width:60%;
	margin-left:5%;
	/*border-style:solid;*/
}
	.project-date {
	margin:0% -30% 0% -30%;
}
	#bbc-date {
			margin-top:10%;
		}
	#retro-date {
			margin-top:16%;
		}
	#poles-date {
			margin-top:16%;
		}
}





										/*----------LARGE DESKTOP----------*/


@media only screen and (min-width : 1919px) {

hr.style2 {
		width:24%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 15px 0px 0px;
	}
hr.style3 {
		width:95%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		margin:0px 20px 0px 20px;
	}
hr.style4 {
		width:13.5%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		margin:0px 15px 0px 15px;
}
hr.style5 {
		width:62%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		margin:0px 20px 0px 20px;
	}

hr.retro-line {
		width:58%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 15px;
}
hr.nyt-line {
		width:55%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 20px;
}
hr.lamei-line {
		width:63%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 20px;
}
hr.paik-line {
		width:58%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 15px;
}
hr.sentiment-line {
		width:68%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 15px;
}
hr.moon-line {
		width:62%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 15px;
	}
hr.stamps-line {
		width:71%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 15px;
	}
hr.paws-line {
		width:55%;
		border-top:4px solid black;
		color:black;
		align-content:left;
		padding:0;
		margin:0px 0px 0px 15px;
	}

	#work-nav {
	width:12%;
	height:10%;
	/*border-style:solid;*/
	margin-left:18.5%;
}

	#all-work-list {
	width:50%;
	margin-left:2%;
	/*border-style:solid;*/
}
	.project-title-image {
		width:70%;
		height:100%;
		margin-left:0%;
		/*border-style:solid;*/
	}
	.project-description {
	margin-top:45px;
	font-family:"GTPM-Regular";
	/*font-size:14px;*/
	/*border-style:solid;*/
	font-size:16px;
	padding-left:15px;
}

.project-category {
	font-family:"GTPM-LightItalic";
	margin-top:50px;
	font-size:16px;
	padding-left:15px;
}
	.project-date {
	margin:0% -13% 0% -13%;
	font-size:24px;
}

	#bbc-date {
			margin-top:22%;
		}
	#retro-date {
			margin-top:30%;
		}
	#poles-date {
			margin-top:30%;
		}
	#nyt-date {
			margin-top:36%;
		}
	#lamei-date {
			margin-top:30%;
		}
	#paik-date {
			margin-top:30%;
		}
	#hack2017-date {
			margin-top:36%;
		}
	#sentiment-date {
			margin-top:39%;
		}
	#moon-date {
			margin-top:31%;
		}
	#stamps-date {
			margin-top:32%;
		}
}

/*ALL PROJECTS DESKTOP*/

#project-page {
	/*border-style:solid;*/
	width:70%;
	/*height:100px;*/
	margin:30px 0px 0px 20%;
}






/*-----FONTS-----*/

@font-face {
	font-family: "GTPM-Regular";
	src: url("fonts/GTPressuraMono-Regular.woff") format("woff");
}
@font-face {
	font-family: "GTPM-RegularItalic";
	src: url("fonts/GTPressuraMono-RegularItalic.woff") format("woff");
}
@font-face {
	font-family: "GTPM-Light";
	src: url("fonts/GTPressuraMono-Light.woff") format("woff");
}
@font-face {
	font-family: "GTPM-LightItalic";
	src: url("fonts/GTPressuraMono-LightItalic.woff") format("woff");
}
@font-face {
	font-family: "GTPM-Bold";
	src: url("fonts/GTPressuraMono-Bold.woff") format("woff");
}
@font-face {
	font-family: "GTPM-BoldItalic";
	src:url("fonts/GTPressuraMono-BoldItalic.woff") format("woff");
}





